services:
  app:
    container_name: ${API_CONTAINER_NAME}
    build:
      context: ./
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    ports:
      - "4003:3002"
